NGINX_HTTP_PORT=80

MYSQL_ROOT_PASSWORD=change-this-root-password
MYSQL_USER=php_app
MYSQL_PASSWORD=change-this-app-password
MYSQL_DATABASE=php_app_production
MYSQL_HOST=localhost
MYSQL_PORT=3307

GOOGLE_PUBLIC_CALENDAR_ID=
GOOGLE_PRIVATE_CALENDAR_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_PRIVATE_KEY=
GOOGLE_CALENDAR_DELEGATED_USER=
GOOGLE_OAUTH_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_CALENDAR_API_BASE_URI=https://www.googleapis.com/calendar/v3
GOOGLE_API_TIMEOUT_SECONDS=15
GOOGLE_CALENDAR_TIMEZONE=Europe/Prague

DEFAULT_ADMIN_EMAIL=admin@admin.cz
DEFAULT_ADMIN_PASSWORD=adminadmin123
DEFAULT_ADMIN_USERNAME=Admin

RECAPTCHA_ENABLED=
RECAPTCHA_V3_SITE_KEY=
RECAPTCHA_V3_SECRET_KEY=
RECAPTCHA_V3_SCORE_THRESHOLD=
RECAPTCHA_V3_ACTION=
RECAPTCHA_V2_SITE_KEY=
RECAPTCHA_V2_SECRET_KEY=
